<th:block th:fragment="footer">
    <footer class="container-fluid">
        <div class="container">
            <div class="row align-items-center">
                <div class="logo col-md-3 col-12 text-md-left text-center"><img class="img-fluid" th:src="@{/image/logo-white.png}" alt="logo"/></div>
                <div class="footer-link col-md-9 col-12">
                    <div class="footer-menu d-flex justify-content-md-end align-items-center flex-md-row flex-column">
                        <a class="item" href="/hoi-dap">Các câu hỏi thường gặp</a>
                        <a class="item" href="/dieu-khoan">Điều khoản</a>
                        <a class="item" href="/chinh-sach">Chính sách</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="top-header container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 content"><a href="tel:+84365304675" target="_blank">Hotline: 0987654321</a>
                    <div class="social-icon"><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a><a href="https://www.instagram.com/obostadium/"><i class="fab fa-instagram"></i></a><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-square"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</th:block>

