.badge.badge-pill.badge-dark {
     font-size: 1rem;
     cursor: pointer;
}

.product-row {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     justify-items: center;
     grid-gap: 1rem 1rem;
     margin: 30px 0;
}

@media(max-width: 1200px) {
     .product-row {
           grid-template-columns: repeat(4, 1fr);
           grid-gap: 0.8rem 0.8rem;
     }
}

@media(max-width: 992px) {
     .product-row {
           grid-template-columns: repeat(3, 1fr);
     }
}

@media(max-width: 768px) {
     .product-row {
           grid-template-columns: repeat(2, 1fr);
     }
}

@media(max-width: 400px) {
     .product-row {
           grid-template-columns: repeat(1, 1fr);
           grid-gap: 0.8rem 0rem;
     }
}

.no-products {
     text-align: center;
     min-height: 400px;
}

.no-products img {
     max-width: 350px;
}