<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'short-header',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Thông tin tài khoản</title>

    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/header.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/except-home-page.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/account.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/account-setting.css}"/>
    </th:block>
</head>
<body>
<main id="main-content" class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="left-sidebar">
                <div class="header">
                    <div class="avatar"><img class="img-fluid" th:src="@{/image/post/avatar.png}" alt="avatar"/></div>
                    <div class="user-info">
                        <div class="user-name" th:text="${user_fullname}"></div>
                        <div class="edit-profile">Chỉnh sửa tài khoản</div>
                    </div>
                </div>
                <div class="break-line"></div>
                <div class="nav-sidebar">
                    <a class="account nav-item" href="/tai-khoan">Quản lý tài khoản</a>
                    <a class="buying-order nav-item" href="/tai-khoan/lich-su-giao-dich">Quản lý đơn hàng</a>
                    <a class="btn btn-primary red-btn sign-out-btn" href="/api/logout">Đăng xuất</a>
                </div>
            </div>
        </div>
        <div class="col-lg-9 main-content-wrapper">
            <div class="main-content">
                <h2 class="account-title">Thông tin tài khoản</h2>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="profile-setting" role="tabpanel" aria-labelledby="profile-setting-tab">
                        <form class="setting-box">
                            <div class="full-name item-row col-md-10">
                                <div class="text required-label">Họ tên</div>
                                <div>
                                    <input class="form-control" th:value="${user_fullname}" id="in-user-fullname"/>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="email item-row col-md-10">
                                <div class="text required-label">Email</div>
                                <input class="form-control" disabled="disabled" th:value="${user_email}"/>
                            </div>
                            <div class="password item-row col-md-10">
                                <div class="text required-label">Mật khẩu</div>
                                <div class="password-wrapper">
                                    <input class="form-control" type="password" disabled="disabled" autocomplete="autocomplete" value="******"/>
                                    <a class="change-password text-btn" href="" data-toggle="modal" data-target="#changePassword">Đổi mật khẩu</a>
                                </div>
                            </div>
                            <div class="phone item-row col-md-10">
                                <div class="text required-label">Số điện thoại</div>
                                <div>
                                    <input class="form-control" th:value="${user_phone}" id="in-user-phone"/>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="address item-row col-md-10">
                                <div class="text">Địa chỉ</div>
                                <div>
                                    <textarea class="form-control" rows="5" th:text="${user_address}" id="in-user-address"></textarea>
                                </div>
                            </div>
                            <div class="update-btn-wrapper item-row col-md-10">
                                <div class="btn btn-primary red-btn update-btn">Cập nhật</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal change password -->
    <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePasswordLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordLabel">Đổi mật khẩu</h5>
                </div>
                <div class="modal-body">
                    <div class="current-password item-row">
                        <div class="text required-label">Mật khẩu cũ</div>
                        <div class="password-wrapper-in">
                            <input class="form-control" type="password" autocomplete="autocomplete" id="old-password"/>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="new-password item-row">
                        <div class="text required-label">Mật khẩu mới</div>
                        <div class="password-wrapper-in">
                            <input class="form-control" type="password" autocomplete="autocomplete" id="new-password"/>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="new-password-confirm item-row">
                        <div class="text required-label">Nhập lại mật khẩu mới</div>
                        <div class="password-wrapper-in">
                            <input class="form-control" type="password" autocomplete="autocomplete" id="retype-password"/>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" type="button" data-dismiss="modal">Huỷ bỏ</button>
                    <button class="btn btn-primary red-btn btn-confirm-change-password" type="button">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block id="js-resources">
    <script th:src="@{/script/except-home-page.js}"></script>
    <script th:src="@{/script/account.js}"></script>
</th:block>
</body>
</html>