<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Danh sách category</title>

    <th:block id="css-resources">
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Danh sách category</li>
            </ol>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="toolbar">
        <button class="btn btn-success" data-toggle="modal" data-target="#modal-add-new-category">
            <span class="fa fa-plus" style="margin-right:0.5rem;"></span>
            <span>Thêm category</span>
        </button>
        <div class="clear"></div>
    </div>

    <!-- Main content -->
    <div class="row">
        <div class="col-12">
            <div class="card card-outline">
                <div class="card-body pad">
                    <div class="table-responsive">
                        <!-- Table data -->
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr class="heading">
                                <th width="55%">
                                    Category
                                </th>
                                <th width="15%">
                                    Số lượng sản phẩm
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="list-category">
                            <th:block th:each="category : ${categories}">
                                <tr>
                                    <td class="category-name" th:data-id="${category.id}" th:text="${category.name}"></td>
                                    <td th:text="${category.productCount}"></td>
                                    <td>
                                        <button class="btn" onclick="updateCategory(this)" th:data-id="${category.id}"><i class="fas fa-edit"></i></button>
                                        <button class="btn" onclick="deleteCategory(this)" th:data-id="${category.id}"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal add new category-->
    <div class="modal fade" id="modal-add-new-category" tabindex="-1" role="dialog" aria-labelledby="modalAddNewCategory" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="new-category" placeholder="Nhập category mới">
                    <span class="invalid-feedback" id="invalid-feedback-new-category">Độ dài tên category từ 1 - 300 ký tự</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-add-new-category">Thêm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal update category-->
    <div class="modal fade" id="modal-update-category" tabindex="-1" role="dialog" aria-labelledby="modalUpdateCategory" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chỉnh sửa category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden id="update-category-id">
                    <input type="text" class="form-control" id="update-category" placeholder="Nhập category mới">
                    <span class="invalid-feedback" id="invalid-feedback-update-category">Độ dài tên category từ 1 - 300 ký tự</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-update-category">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal delete category-->
    <div class="modal fade" id="modal-delete-category" tabindex="-1" role="dialog" aria-labelledby="modalDeleteCategory" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xóa category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden id="delete-category-id">
                    <span>Bạn chắc chắn muốn xóa category?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger btn-delete-category">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block id="js-resources">
    <script th:inline="javascript">
        $('.btn-add-new-category').click(function() {
            let newCategory = $('#new-category').val();
            if (newCategory.length == 0) {
                $('#invalid-feedback-new-category').show();
                return;
            }
            req = {
                name: newCategory
            }
            var myJSON = JSON.stringify(req);
            $.ajax({
                url: '/api/admin/categories',
                type: 'POST',
                data: myJSON,
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    toastr.success("Tạo category thành công");
                    $('.list-category').append(`
                        <tr>
                            <td class="category-name" data-id="${data.id}">${data.name}</td>
                            <td>0</td>
                            <td>
                                <button class="btn" onclick="updateCategory(this)" data-id="${data.id}"><i class="fas fa-edit"></i></button>
                                <button class="btn" onclick="deleteCategory(this)" data-id="${data.id}"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    `);
                    $('.modal').modal('hide');
                    $('#new-category').val('');
                },
                error: function(data) {
                    toastr.warning(data.responseJSON.message);
                },
                complete: function() {
                    $('#invalid-feedback-new-category').hide();
                }
            });
        })

        function updateCategory(btn) {
            let id = $(btn).data('id');
            let name = $('.category-name[data-id='+id+']').text();
            $('#update-category').val(name);
            $('#update-category-id').val(id);
            $('#modal-update-category').modal('show');
        }

        $('.btn-update-category').click(function() {
            let updateCategory = $('#update-category').val().trim().replace(/\s+/g,' ');
            let idCategory = $('#update-category-id').val();
            if (updateCategory.length == 0) {
                $('#invalid-feedback-update-category').show();
                return;
            }
            req = {
                name: updateCategory
            }
            var myJSON = JSON.stringify(req);
            $.ajax({
                url: '/api/admin/categories/'+idCategory,
                type: 'PUT',
                data: myJSON,
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    toastr.success("Cập nhật thành công");
                    $('.category-name[data-id='+idCategory+']').text(updateCategory);
                    $('.modal').modal('hide');
                    $('#update-category').val('');
                    $('#update-category-id').val('');
                },
                error: function(data) {
                    toastr.warning(data.responseJSON.message);
                },
                complete: function() {
                    $('#invalid-feedback-update-category').hide();
                }
            });
        })

        function deleteCategory(btn) {
            let id = $(btn).data('id');
            $('#delete-category-id').val(id);
            $('#modal-delete-category').modal('show');
        }

        $('.btn-delete-category').click(function() {
            let idCategory = $('#delete-category-id').val();
             $.ajax({
                url: '/api/admin/categories/'+idCategory,
                type: 'DELETE',
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    toastr.success("Xóa thành công");
                    $('.category-name[data-id='+idCategory+']').parent().remove();
                    $('.modal').modal('hide');
                    $('#delete-category-id').val('');
                },
                error: function(data) {
                    toastr.warning(data.responseJSON.message);
                }
            });
        })
    </script>
</th:block>
</body>
</html>


