<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'short-header',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Xin chúc mừng</title>

    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/header.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/except-home-page.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/congrats.css}"/>
    </th:block>
</head>
<body>
<main id="main-content">
    <div class="main-wrapper container-fluid">
        <div class="header">
            <h1 class="h1 title">Xin ch&uacute;c m&#x1EEB;ng</h1>
            <div class="sub-title">B&#x1EA1;n &dstrok;&atilde; &dstrok;&#x1EB7;t h&agrave;ng th&agrave;nh c&ocirc;ng, vui l&ograve;ng ki&#x1EC3;m tra l&#x1EA1;i th&ocirc;ng tin &dstrok;&#x1A1;n h&agrave;ng &#x1EDF; d&#x1B0;&#x1EDB;i &dstrok;&acirc;y</div>
        </div>
        <!-- Short Desc-->
        <div class="short-desc-wrapper row">
            <div class="short-desc container">
                <div class="order-number-wrapper content">
                    <div class="title">M&Atilde; &Dstrok;&#x1A0;N H&Agrave;NG</div>
                    <div class="order-number main-content">12345</div>
                </div>
                <div class="order-date-wrapper content">
                    <div class="title">NG&Agrave;Y &Dstrok;&#x1EB6;T H&Agrave;NG</div>
                    <div class="order-date main-content">03/08/2019</div>
                </div>
                <div class="total-price-wrapper content">
                    <div class="title">TH&Agrave;NH TI&#x1EC0;N</div>
                    <div class="total-price main-content">9.600.000 &#x20AB;</div>
                </div>
                <div class="payment-methods-wrapper content">
                    <div class="title">PH&#x1AF;&#x1A0;NG TH&#x1EE8;C THANH TO&Aacute;N</div>
                    <div class="payment-methods main-content">Thanh to&aacute;n khi nh&#x1EAD;n h&agrave;ng</div>
                </div>
            </div>
        </div>
        <!-- Full Desc-->
        <div class="full-desc-wrapper row">
            <div class="full-desc container">
                <div>
                    <h2 class="h2">Th&ocirc;ng tin &dstrok;&#x1A1;n h&agrave;ng</h2>
                    <div class="content">
                        <div>S&#x1EA2;N PH&#x1EA8;M</div>
                        <div>TH&Agrave;NH TI&#x1EC0;N</div>
                    </div>
                    <div class="break-line"></div>
                    <div class="content">
                        <div class="product-details"><a class="product-name" href="./product-details.html">Adidas Yeezy Boost 700 Wave Runner Solid Grey</a>
                            <div class="size">8US | 41VN | 26CM</div>
                        </div>
                        <div class="sub-price">9.550.000 &#x20AB;</div>
                    </div>
                    <div class="break-line"></div>
                    <div class="content-price">
                        <div class="sub-price-wrapper wrapper">
                            <div class="text">T&#x1EA0;M T&Iacute;NH:</div>
                            <div class="sub-price">9.550.000 &#x20AB;</div>
                        </div>
                    </div>
                    <div class="content-price">
                        <div class="shipping-price-wrapper wrapper">
                            <div class="text">PH&Iacute; V&#x1EAC;N CHUY&#x1EC2;N:</div>
                            <div class="sub-price">50.000 &#x20AB;</div>
                        </div>
                    </div>
                    <div class="content-price">
                        <div class="total-price-wrapper wrapper">
                            <div class="text">TH&Agrave;NH TI&#x1EC0;N:</div>
                            <div class="sub-price">9.600.000 &#x20AB;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="go-back-home-wrapper"><a class="go-back-home" href="/">
            <button class="btn btn-primary go-back-home-btn red-btn">Tr&#x1EDF; v&#x1EC1; trang ch&#x1EE7;</button></a>
        </div>
    </div>
</main>

<th:block id="js-resources">
    <script th:src="@{/script/except-home-page.js}"></script>
</th:block>
</body>
</html>






