<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'short-header',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Sản phẩm</title>

    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/vendor/pagination/simplePagination.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/header.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/products.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/shop/filter-bar.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/shop/product-showing.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/shop/filter-bar-small.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/except-home-page.css}"/>
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="breadcrumb container">
        <a class="previous-page" href="/">Trang chủ</a>
        <i class="fas fa-chevron-right arrow"></i>
        <span class="current-page">Sản phẩm</span>
    </div>

    <!-- Main content -->
    <div class="shop-content-wrapper container">
        <div class="row">
            <!-- Filter -->
            <div class="filter-bar col-lg-3">
                <div class="filter-header content">
                    <div class="left-side d-flex align-items-center"><i class="fas fa-sliders-h"></i>
                        <div class="text">Lọc</div>
                    </div>
                    <button class="clear-filter btn btn-primary" disabled="disabled">Bỏ lọc</button>
                </div>
                <div class="break-line"></div>

                <!-- Brand -->
                <div class="brand content">
                    <div class="title" data-toggle="collapse" href="#brand-collapse" role="button" aria-expanded="false"
                         aria-controls="brand-collapse">
                        <div class="text">Thương hiệu</div>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="select-filter collapse show" id="brand-collapse">
                        <th:block th:each="brand : ${brands}">
                            <div class="item">
                                <div class="pretty p-svg p-curve">
                                    <input class="filter-checkbox check-brand" type="checkbox" th:value="${brand.id}"/>
                                    <div class="state p-success">
                                        <svg class="svg svg-icon" viewbox="0 0 20 20">
                                            <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                                  style="stroke: white;fill:white;"></path>
                                        </svg>
                                        <label class="checkbox-label" th:text="${brand.name}"></label>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="break-line"></div>

                <!-- Category -->
                <div class="category content">
                    <div class="title" data-toggle="collapse" href="#categories-collapse" role="button"
                         aria-expanded="false" aria-controls="categories-collapse">
                        <div class="text">Danh mục</div>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="select-filter collapse show" id="categories-collapse">
                        <th:block th:each="category : ${categories}">
                            <div class="item">
                                <div class="pretty p-svg p-curve">
                                    <input class="filter-checkbox check-category" type="checkbox" th:value="${category.id}"/>
                                    <div class="state p-success">
                                        <svg class="svg svg-icon" viewbox="0 0 20 20">
                                            <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                                  style="stroke: white;fill:white;"></path>
                                        </svg>
                                        <label class="checkbox-label" th:text="${category.name}"></label>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="break-line"></div>

                <!-- Size -->
                <div class="size content">
                    <div class="title" data-toggle="collapse" href="#size-collapse" role="button" aria-expanded="false"
                         aria-controls="size-collapse">
                        <div class="text">Size</div>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="select-filter collapse show" id="size-collapse">
                        <th:block th:each="size : ${sizeVn}">
                            <div class="item check-size" th:data-id="${size}" th:text="${size}"></div>
                        </th:block>
                    </div>
                </div>
                <div class="break-line"></div>

                <!-- Price -->
                <div class="price-range content">
                    <div class="title">
                        <div class="text">Khoảng gi&aacute;</div>
                    </div>
                    <input class="form-control price-input" id="from-price" type="text" placeholder="Từ"
                           onkeypress="return priceInputValidate(event)"/>
                    <input class="form-control price-input" id="to-price" type="text" placeholder="Đến" pattern="[0-9]"
                           onkeypress="return priceInputValidate(event)"/>
                    <button class="btn btn-primary apply-price red-btn" id="apply-price-web">Áp dụng</button>
                </div>
            </div>

            <!-- List product -->
            <div class="product-showing col-lg-9 col-12">
                <div class="sort">
                    <div class="filter-icon" data-toggle="modal" data-target="#filterModal"><i class="fas fa-filter"></i></div>
                </div>
                <div class="no-products">
                    <img th:src="@{/image/noresult.png}" alt="noresult.png">
                    <h4>Không tìm thấy sản phẩm phù hợp</h4>
                </div>
                <div class="product-row">
                    <th:block th:each="product : ${listProduct}">
                        <a class="product position-relative" target="_blank" th:href="@{/san-pham/{slug}/{id}(id=${product.id}, slug=${product.slug})}">
                            <div class="card"><img class="card-img-top"
                                                   th:src="${product.image}"
                                                   th:alt="${product.name}"/>
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${product.name}"></h5>
                                    <th:block th:if="${product.promotionPrice}">
                                        <p class="price"><span class="text-price" th:text="${product.promotionPrice}"></span> &#x20AB;</p>
                                        <p class="old-price"><span class="text-price" th:text="${product.price}"></span> &#x20AB;</p>
                                    </th:block>
                                    <th:block th:unless="${product.promotionPrice}">
                                        <p class="price"><span class="text-price" th:text="${product.price}"></span> &#x20AB;</p>
                                    </th:block>
                                    <p class="card-text sold">&Dstrok;&atilde; b&aacute;n <span th:text="${product.totalSold}"></span> &dstrok;&ocirc;i</p>
                                </div>
                            </div>
                            <div class="shadow mx-auto position-absolute"></div>
                        </a>
                    </th:block>
                </div>
                <br>
                <!-- Pagination -->
                <nav aria-label="Page navigation">
                    <ul class="pagination" id="pagination"></ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- Modal filter -->
    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">Lọc sản phẩm</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="filter-bar small-size">
                        <!-- Brand -->
                        <div class="brand content">
                            <div class="title" data-toggle="collapse" href="#brand-collapse-1" role="button"
                                 aria-expanded="false" aria-controls="brand-collapse">
                                <div class="text">Thương hiệu</div>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="select-filter collapse show" id="brand-collapse-1">
                                <th:block th:each="brand : ${brands}">
                                    <div class="item">
                                        <div class="pretty p-svg p-curve">
                                            <input class="filter-checkbox check-brand checkbox-mobile" type="checkbox" th:value="${brand.id}"/>
                                            <div class="state p-success">
                                                <svg class="svg svg-icon" viewbox="0 0 20 20">
                                                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                                          style="stroke: white;fill:white;"></path>
                                                </svg>
                                                <label class="checkbox-label" th:text="${brand.name}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="break-line"></div>

                        <!-- Category -->
                        <div class="category content">
                            <div class="title" data-toggle="collapse" href="#categories-collapse-1" role="button"
                                 aria-expanded="false" aria-controls="categories-collapse">
                                <div class="text">Danh mục</div>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="select-filter collapse show" id="categories-collapse-1">
                                <th:block th:each="category : ${categories}">
                                    <div class="item">
                                        <div class="pretty p-svg p-curve">
                                            <input class="filter-checkbox check-category checkbox-mobile" type="checkbox" th:value="${category.id}"/>
                                            <div class="state p-success">
                                                <svg class="svg svg-icon" viewbox="0 0 20 20">
                                                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                                      style="stroke: white;fill:white;"></path>
                                                </svg>
                                                <label class="checkbox-label" th:text="${category.name}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="break-line"></div>

                        <!-- Size -->
                        <div class="size content">
                            <div class="title" data-toggle="collapse" href="#size-collapse-1" role="button" aria-expanded="false"
                                 aria-controls="size-collapse">
                                <div class="text">Size</div>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="select-filter collapse show" id="size-collapse-1">
                                <th:block th:each="size : ${sizeVn}">
                                    <div class="item check-size checkbox-mobile" th:data-id="${size}" th:text="${size}"></div>
                                </th:block>
                            </div>
                        </div>
                        <div class="break-line"></div>

                        <!-- Price -->
                        <div class="price-range content">
                            <div class="title">
                                <div class="text">Khoảng gi&aacute;</div>
                            </div>
                            <input class="form-control price-input" id="from-price-small" type="text" placeholder="Từ"
                                   onkeypress="return priceInputValidate(event)"/>
                            <input class="form-control price-input" id="to-price-small" type="text" placeholder="Đến"
                                   pattern="[0-9]" onkeypress="return priceInputValidate(event)"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="clear-filter btn btn-primary" disabled="disabled">Bỏ lọc</button>
                    <button class="btn btn-primary apply-price small red-btn" id="apply-price-mobile">Áp dụng</button>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block id="js-resources">
    <script type="text/javascript" th:src="@{/vendor/pagination/jquery.simplePagination.js}"></script>
    <script th:src="@{/script/except-home-page.js}"></script>
    <script th:src="@{/script/shop.js}"></script>
    <script th:inline="javascript">
        let brandIds = [[${brandIds}]];
        let categoryIds = [[${categoryIds}]];
        let currentPage = [[${currentPage}]];
        let totalPages = [[${totalPages}]];
        let checkedCategories = [];
        let checkedBrands = [];
        let checkedSizes = [];
        let minPrice = 0;
        let maxPrice = 0;

        $(function () {
          pagination();
        });

        function pagination() {
            if (totalPages > 0) {
                $('#pagination').show();
                $('#pagination').pagination({
                    pages: totalPages,
                    currentPage: currentPage,
                    cssStyle: '',
                    prevText: '<span aria-hidden="true">&laquo;</span>',
                    nextText: '<span aria-hidden="true">&raquo;</span>',
                    onInit: function () {
                        // fire first page loading
                    },
                    onPageClick: function (page, evt) {
                        currentPage = page;
                        searchProduct();
                        $('body,html').animate({scrollTop:0},800);
                    }
                });

                $('#pagination .active .current').addClass('page-link');
                $('#pagination .ellipse.clickable').addClass('page-link');
                $('#pagination .disabled .current.prev').addClass('page-link');
                $('#pagination .disabled .current.next').addClass('page-link');
            } else {
                $('#pagination').hide();
            }
        }

        // Filter function
        $(".check-brand").change( function(){
            checkedBrands = $(".check-brand:checked").map(function(){
                return $(this).val();
            }).get();

            if (!$(this).hasClass('checkbox-mobile')) {
                currentPage = 1;
                searchProduct();
            }
        });

        $(".check-category").change( function(){
            checkedCategories = $("check-category:checked").map(function(){
                return $(this).val();
            }).get();

            if (!$(this).hasClass('checkbox-mobile')) {
                currentPage = 1;
                searchProduct();
            }
        });

        $(".check-size").click( function(){
            $(this).toggleClass('size-choose');

            checkedSizes = $(".check-size.size-choose").map(function(){
                return $(this).data("id");
            }).get();

            if (!$(this).hasClass('checkbox-mobile')) {
                currentPage = 1;
                searchProduct();
            }
        });

        $('#apply-price-web').click(function() {
            minPrice = parseInt($('.price-input#from-price').val());
            maxPrice = parseInt($('.price-input#to-price').val());

            if (isNaN(minPrice) && isNaN(maxPrice)) {
                toastr.warning("Khoảng giá không hợp lệ");
                return;
            }
            if (minPrice > 999999999999 || maxPrice > 999999999999) {
                toastr.warning("Khoảng giá quá lớn");
                return;
            }

            currentPage = 1;
            searchProduct();
        })

        $('#apply-price-mobile').click(function() {
            minPrice = parseInt($('.price-input#from-price-small').val());
            maxPrice = parseInt($('.price-input#to-price-small').val());

            if (isNaN(minPrice)) {
                minPrice = 0;
            }
            if (isNaN(maxPrice)) {
                maxPrice = 0;
            }
            if (minPrice > 999999999999 || maxPrice > 999999999999) {
                toastr.warning("Khoảng giá quá lớn");
                return;
            }

            currentPage = 1;
            searchProduct();
        })

        function searchProduct() {
            if (checkedSizes.length > 0 || checkedBrands.length > 0 || checkedCategories.length > 0 || minPrice > 0 || maxPrice > 0) {
                $('.clear-filter')
                    .removeAttr('disabled');
            } else {
                $('.clear-filter')
                    .attr('disabled', 'disabled');
            }

            if (checkedBrands.length == 0) {
                checkedBrands = brandIds;
            }
            if (checkedCategories.length == 0) {
                checkedCategories = categoryIds;
            }
            if (maxPrice == 0) {
                maxPrice = 999999999999;
            }
            req = {
				brands: checkedBrands,
				categories: checkedCategories,
				sizes: checkedSizes,
				min_price: minPrice,
				max_price: maxPrice,
				page: currentPage
			}
			var myJSON = JSON.stringify(req);
			$.ajax({
			   	url: '/api/san-pham/loc',
			   	type: 'POST',
			   	data: myJSON,
			   	contentType: "application/json; charset=utf-8",
			   	success: function(data) {
			   	    genProductList(data.items);
			   	    currentPage = data.currentPage;
			   	    totalPages = data.totalPages;
			   	    pagination();
			   	    $('#filterModal').modal('hide');
			   	},
			   	error: function(data) {
			   	    toastr.warning(data.responseJSON.message);
			   	},
			});
        }

        function genProductList(products) {
            if (products.length > 0) {
                let html = '';
                for (product of products) {
                    html += `<a class="product position-relative" target="_blank" href="/san-pham/${product.slug}/${product.id}">
                            <div class="card"><img class="card-img-top"
                                                   src="${product.image}"
                                                   alt="${product.name}"/>
                                <div class="card-body">
                                    <h5 class="card-title">${product.name}</h5>`
                    if (product.promotionPrice > 0) {
                        html += `<p class="price"><span class="text-price">${product.promotionPrice}</span> &#x20AB;</p>
                                 <p class="old-price"><span class="text-price">${product.price}</span> &#x20AB;</p>`
                    } else {
                        html += `<p class="price"><span class="text-price">${product.price}</span> &#x20AB;</p>`
                    }
                    html += `
                                    <p class="card-text sold">Đã bán <span>${product.totalSold}</span> đôi</p>
                                </div>
                            </div>
                            <div class="shadow mx-auto position-absolute"></div>
                        </a>`
                }
                $('.product-row').html(html);
                $('.no-products').css('display','none');
                formatMoney();
            } else {
                $('.product-row').html("");
                $('.no-products').css('display','flex');
            }
        }

        $("#from-price").keyup(function(){
          if (
            $('.price-input#from-price').val() == '' &&
            $('.price-input#to-price').val() == ''
          ) {
            $('.apply-price:not(.small)').attr('disabled', 'disabled');
          } else {
            $('.apply-price:not(.small)').removeAttr('disabled');
          }
        });

        $("#to-price").keyup(function(){
          if (
            $('.price-input#from-price').val() == '' &&
            $('.price-input#to-price').val() == ''
          ) {
            $('.apply-price:not(.small)').attr('disabled', 'disabled');
          } else {
            $('.apply-price:not(.small)').removeAttr('disabled');
          }
        });

        $(".clear-filter").click( function(){
            checkedSizes = [];
            checkedBrands = [];
            checkedCategories = [];
            minPrice = 0;
            maxPrice = 0;
            currentPage = 1;
            searchProduct();

            $('.filter-bar input').prop('checked', false);
            $('.clear-filter')
              .not('.modal-footer .clear-filter')
              .attr('disabled', 'disabled');

            $('.filter-bar input').prop('checked', false);
            $('.size .item').removeClass('size-choose');
            $('.price-input').val('');
            $('.price-input.small').val('');
            $('.apply-price:not(.small)').attr('disabled', 'disabled');
        })
    </script>
</th:block>
</body>
</html>


